body {
    background-color: #dadbdb;
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    min-height: 100%;
}

ul {
    list-style: none;
}

header {
    background-color: #4ea1d3;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    display: flex;
    flex-flow: row;
    align-items: center;
}

header .logo-title {
    justify-content: flex-start;
}

.logo-title > a {
    text-decoration: none;
}

.logo {
    margin: 10px;
}

h1 {
    margin-left: 10px;
    font-size: x-large;
    color: #454552;

}

nav > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

main {
    flex: 1;
}

#new-index {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer {
    background-color: #4ea1d3;
    width: 100%;
}

footer .logo-title {
    justify-content: flex-start;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

/* vet index and new form */

.vet-object {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.vet-details-buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.vet-details {
    background-color: #4ea1d3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: solid #454552;
    border-radius: 25%;
}

.new-vet-details > li > input {
    margin: 5px;
    width: 15ch;
}

.view-options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.show-text {
    background-color: #d8e9ef;
    border: solid #454552;
    min-width: 15ch;
    padding: 5px;
    text-align: center;
}

/* New client form */

.new-client-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.address {
    width: 24ch !important;
    height: 24ch;
}
