body {
    background-color: #dadbdb;
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    min-height: 100%;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

header {
    background-color: #4ea1d3;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    display: flex;
    flex-flow: row;
    align-items: center;
}

header .logo-title {
    justify-content: flex-start;
}

.logo-title > a {
    text-decoration: none;
}

.logo {
    margin: 10px;
}

h1 {
    margin-left: 10px;
    font-size: x-large;
    color: #454552;

}

nav > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

main {
    flex: 1;
}

#new-index {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer {
    background-color: #4ea1d3;
    width: 100%;
}

footer .logo-title {
    justify-content: flex-start;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

/* vet index and new form */

.vet-object {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-left: 0;
}

.vet-details-buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.vet-details {
    background-color: #4ea1d3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: solid #454552;
    border-radius: 25%;
}

.edit-vet-object {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.edit-vet-details {
    background-color: #4ea1d3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: solid #454552;
    border-radius: 25%;
}

.edit-vet-details > li {
    margin: 5px;
    width: 15ch;
    text-align: center;
}

.edit-vet-details > li > input {
    text-align: center;
}

.new-vet-details > li > input {
    margin: 5px;
    width: 15ch;
}

.readonly {
    background-color: rgb(173, 173, 173);
}

.view-options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.show-text {
    background-color: #d8e9ef;
    border: solid #454552;
    min-width: 15ch;
    padding: 5px;
    text-align: center;
}

/* New client form */

.client-object {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.new-client-details {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border: solid #454552;
    padding: 10px;
    background-color: #4ea1d3;
    border-radius: 5%;
}

#new-client-form > li {
    margin-bottom: 5px;
    text-align: center;
}


/* Treatment index */

#new-treatment-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.treatment-object {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    margin-left: 10%;
    margin-right: 10%;
}

.treatment-notes {
    flex: 1;
    align-self: stretch;
    border: 1px solid #454552;
    padding-left: 3px;
}

.treatment-name-date {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-right: 10px;
}

.treatment-name-date > div > li {
    border: 1px solid #454552;
    padding: 3px;
}

.treatment-vet-name-container {
    margin-bottom: 10px;
}

th {
    padding: 0px;
    border: none;
}

/* select client/patient forms */

.select-form-button {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.select-client-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.select-client-form > li {
    margin-bottom: 5px;
}

/* Patient new and edit forms */

#dob-age-radios {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#dob-age-radios > div {
    margin: 10px;
}

.patient-object {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.new-patient-details {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border: solid #454552;
    padding: 10px;
    background-color: #4ea1d3;
    border-radius: 5%;
}

.new-patient-form > li {
    margin-bottom: 5px;
    text-align: center;
}

/* new treatment form */

.new-treatment-object-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.new-treatment-object {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #454552;
    width: 40vw;
}

.treatment-details {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.treatment-details > div {
    margin: 10px;
}