{% extends 'index.html' %}

{% block main %}
<article>
    <h2>Edit Treatment for {{ treatment.patient.name }}</h2>

    <form action="/treatments/{{ treatment.patient.id }}/{{ treatment.patient.id }}" method="post" class="new-treatment-object-container">
        <ul class="new-treatment-object">
            <section class="treatment-details">
                <div class="treatment-patient-name">
                    <li>
                        <label for="patient-name">Patient Name</label>
                    </li>
                        <input type="text" name="patient-name" id="patient-name" value="{{ treatment.patient.name }}" disabled="True">
                    </li>
                </div>
                <div class="treatment-vet-name">
                    <li>
                        <label for="vet-name">Vet Name</label>
                    </li>
                    <li>
                        <select name="vet-name" id="vet-name">
                            <option value="vet-name" disabled="True">--Select Vet--</option>
                            {% for vet in all_vets %}
                            <option value="{{ vet.id }}" {% if treatment.vet.id == vet.id %} selected {% endif %}>{{ vet.first_name }} {{ vet.last_name }}</option>
                            {% endfor %}
                        </select>
                    </li>
               </div>
               <div>
                    <li>
                        <label for="date">Date</label>
                    </li>
                    <li>
                        <input type="date" name="date" id="date" value="{{ date }}" min="1000-01-01" max="3000-01-01">
                    </li>
               </div>
            </section>
            <section class="treatment-note-new">
                <li>
                    <label for="notes">Treatment Notes</label>
                </li>
                <li>
                    <textarea name="notes" id="notes" cols="50" default="{{treatment.notes}}" rows="10"></textarea>
                </li>
            </section>
            <li>
                <input type="submit" value="Update" class="button-submit vet-button">
            </li>
        </ul>
    </form>
</article>
{% endblock %}
