{% extends 'index.html' %}

{% block main %}

<form action="/treatments/select-patient" method="POST">
    <ul>
        <li>
            <label for="patient-name">Select Patient</label>
            <select name="patient-name" id="patient-name" required>
                <option value="" disabled="True" selected>--Select Patient</option>
                {% for patient in all_patients %}
                <option value="{{ patient.id }}" {% if patient.client.registered == False %} disabled="True" {% endif %}>{{ patient.name }} {% if patient.client.registered == False %} -- Unregistered Client {% endif %}</option>
                {% endfor %}
            </select>
        </li>
        <li>
            <input type="submit" value="Select Patient">
        </li>
    </ul>
</form>

<form action="/patients/new" method="get">
    <input type="submit" value="Create New Patient">
</form>
{% endblock %}