{% extends 'index.html' %}

{% block main %}
<article class="index" id="index-vets">
    <h2>All Vets</h2>
    <ul class="vet-object">
        {% for vet in all_vets %}

        <li>
            <ul class="vet-details">
                <!-- <li>
                    <img src="/static/images/" alt="vet_profile.png">
                </li> -->
                <li>
                    <label for="vet-name">Name</label>
                </li>
                <li>
                    {{ vet.first_name}} {{ vet.last_name}}
                </li>
                <li>
                    <label for="vet-job-title">Job Title</label>
                </li>
                <li>
                    {{ vet.job_title}}
                </li>
                <li>
                    <label for="vet-id">ID</label>
                </li>
                <li>
                    {{ vet.id }}
                </li>
                <li>
                    <form action="/vets/{{ vet.id }}/edit" method="GET">
                        <input type="submit" value="Edit">
                    </form>
                </li>
                <li>
                    <form action="/vets/{{ vet.id }}/delete" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </li>
            </ul>
            <ul>
                <li>
                    <form action="/vets/{{ vet.id }}/patients" method="GET">
                        <input type="submit" value="View Patients">
                    </form>
                </li>
                <li>
                    <form action="/vets/{{ vet.id }}/clients" method="GET">
                        <input type="submit" value="View Clients">
                    </form>
                </li>
            </ul>
        </li>

        {% endfor %}

        <li>
            <form action="/vets/new" method="get">
                <input type="submit" value="Create New Vet">
            </form>
        </li>
    </ul>
</article>
{% endblock %}