{% extends 'index.html' %}

{% block main %}

<form action="/vets" method="post">
<ul>
    <!-- <li>
        <img src="/static/images/" alt="vet_profile.png">
    </li>
    <li>
        <form action="/vets/new/add-picture" method="get">
            <input type="submit" value="Add Picture">
        </form>
    </li> -->
    <li>
        <label for="vet-first-name">First Name</label>
        <input type="text" name="first-name" id="vet-first-name" required>
    </li>
    <li>
        <label for="vet-last-name">Last Name</label>
        <input type="text" name="last-name" id="vet-last-name" required>
    </li>
    <li>
        <label for="job-title">Job Title</label>
        <select name="job-title" id="job-title">
            <option value="choose" disabled='True' selected="True">--Select Job Title--</option>
            <option value="graduate">Graduate</option>
            <option value="junior">Junior</option>
            <option value="senior">Senior</option>
            <option value="partner">Practice Partner</option>
        </select>
    </li>
    <li>
        <input type="submit" value="Create">
    </li>
</ul>
</form>


{% endblock %}