{% extends 'base.html' %}

{% block content %}


<ul id="new-index">
    <li>
        <form action="/vets/new" method="get">
            <input type="submit" value="New Vet" class="button-submit button-index">
        </form>
    </li>
    <li>
        <form action="/clients/new" method="get">
            <input type="submit" value="New Client" class="button-submit button-index">
        </form>
    </li>
    <li>
        <form action="/patients/new" method="get">
            <input type="submit" value="New Patient" class="button-submit button-index">
        </form>
    </li>
    <li>
        <form action="/treatments/new" method="get">
            <input type="submit" value="New Treatment" class="button-submit button-index">
        </form>
    </li>
</ul>

{% block main %}

{% endblock %}

{% endblock %}