{% extends 'base.html' %}

{% block content %}

<ul>
    <li>
        <form action="/vets" method="GET">
            <input type="submit" value="All Vets">
        </form>
    </li>
    <li>
        <form action="/clients" method="GET">
            <input type="submit" value="All Clients">
        </form>
    </li>
    <li>
        <form action="/patients" method="GET">
            <input type="submit" value="All Patients">
        </form>
    </li>
    <li>
        <form action="/patients/checked-in" method="get">
            <input type="submit" value="In Patients">
        </form>
    </li>
</ul>
<ul>
    <li>
        <form action="/vets/new" method="get">
            <input type="submit" value="New Vet">
        </form>
    </li>
    <li>
        <form action="/clients/new" method="get">
            <input type="submit" value="New Client">
        </form>
    </li>
    <li>
        <form action="/patients/new" method="get">
            <input type="submit" value="New Patient">
        </form>
    </li>
    <li>
        <form action="/treatments/new" method="get">
            <input type="submit" value="New Treatment">
        </form>
    </li>
</ul>

{% block main %}

{% endblock %}

{% endblock %}