{% extends 'index.html' %}

{% block main %}

<h2>Edit {{ client.first_name}} {{ client.last_name }}</h2>

<form action="/clients/{{ client.id }}" method="post">
    <ul>
        <li>
            <label for="client-first-name">First Name</label>
            <input type="text" name="first-name" id="client-first-name" value={{ client.first_name }} required>
        </li>
        <li>
            <label for="client-last-name">Last name</label>
            <input type="text" name="last-name" id="client-last-name" value={{ client.last_name }} required>
        </li>
        <li>
            <label for="phone-number">Phone Number</label>
            <input type="text" name="phone-number" id="phone-number" value={{ client.phone_number }} required>
        </li>
        <li>
            <label for="address">Address</label>
            <input type="text" name="address" id="address" value={{ client.address }} required>
        </li>
        <li>
            <label for="vet-assigned">Vet Assigned</label>

                <select name="vet-assigned" id="vet-assigned">
                    <option value="choose" disabled="True" selected="True">--Select Vet--</option>
                    {% for vet in all_vets %}
                        <option value="{{ vet.id }}">{{ vet.first_name }} {{ vet.last_name }} {% if vet.id == client.vet.id %} selected {% endif %} </option>
                    {% endfor %}
                </select>
        </li>
        <!-- Insert pets container here -->
        <li>
            <label for="registered">Registered?</label>
            <input type="radio" name="registered" id="false" value="N" {% if client.registered == "N" %} checked {% endif %}>
            <label for="false">N</label>
            <input type="radio" name="registered" id="true" value="Y" {% if client.registered == "Y" %} checked {% endig %}>
            <label for="true">Y</label>
        </li>
    </ul>
</form>

<!-- INSERT new pet for existing client form here -->


{% endblock %}