{% extends 'index.html' %}

{% block main %}

<ul>
    <li>
        Name
    </li>
    <!-- <li>
        Pets
    </li> -->
    <li>
        Phone Number
    </li>
    <li>
        Address
    </li>
    <li>
        Registered?
    </li>
    <li>
        Vet Name
    </li>
</ul>

{% for client in all_clients %}

<ul>
    <li>
        {{ client.first_name}} {{ client.last_name}}
    </li>
    <!-- <li>
        {% for pet in pets %}
            <a href="/pet/<{{ pet.id }}>/edit"></a>{{ pet.name }}
        {% endfor %}
    </li> -->
    <li>
        {{ client.phone_number[0:5] }} {{ client.phone_number[5:8] }} {{ client.phone_number[8:] }}
    </li>
    <li>
        {{ client.address }}
    </li>
    <li>
        {% if client.registered == True %}
            Y
        {% endif %}
        {% if client.registered == False %}
            N
        {% endif %}
    </li>
    <li>
        {{ client.vet.first_name }} {{ client.vet.last_name}}
    </li>
    <li>
        <form action="/clients/{{ client.id }}/all-pets" method="get">
            <input type="submit" value="Show All Pets">
        </form>
    </li>
    <li>
        <form action="/clients/{{ client.id }}/edit" method="get">
            <input type="submit" value="Edit">
        </form>
    </li>
    <li>
        <form action="/clients/{{ client.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
    </li>
</ul>

{% endfor %}

{% endblock %}