{% extends 'index.html' %}

{% block main %}
<article>
    <h2>New Client</h2>

    <form action="/clients" method="post" class="client-object">
        <ul class="client-details new-client-details">
            <section id="new-client-form">
                <li>
                    <label for="client-first-name">First Name</label>
                </li>
                <li>
                    <input type="text" name="first-name" id="client-first-name" required>
                </li>
                <li>
                    <label for="client-last-name">Last name</label>
                </li>
                <li>
                    <input type="text" name="last-name" id="client-last-name" required>
                </li>
                <li>
                    <label for="phone-number">Phone Number</label>
                </li>
                <li>
                    <input type="text" name="phone-number" id="phone-number" required>
                </li>
                <li>
                    <label for="address">Address</label>
                </li>
                <li>
                    <textarea name="address" id="address" cols="30" rows="10" required></textarea>
                </li>
                <li>
                    <label for="vet-assigned">Vet Assigned</label>
                </li>
                <li>
                    <select name="vet-assigned" id="vet-assigned" required>
                        <option value="" disabled="True" selected="True">--Select Vet--</option>
                        {% for vet in all_vets %}
                            <option value="{{ vet.id }}">{{ vet.first_name }} {{ vet.last_name }}</option>
                        {% endfor %}
                    </select>
                </li>
                <!-- Insert pets container here -->
                <li>
                    <label for="registered">Registered?</label>
                </li>
                <li>
                    <input type="radio" name="registered" id="false" value="N" checked>
                    <label for="false">N</label>
                    <input type="radio" name="registered" id="true" value="Y">
                    <label for="true">Y</label>
                </li>
            </section>
            <section id="client-create-button">
                <li>
                    <input type="submit" value="Create" class="button-submit vet-button">
                </li>
            </section>
        </ul>
    </form>
</article>
<!-- INSERT new pet for new client form here -->


{% endblock %}